$body-bg:#41b883;
$primary: #155f59;
$secondary: #2220203f;
$danger:#fc3030dc;
$success: lime;
$warning: orange;
$info:#ffffff8a;
$blue: rgba(255, 255, 255, 0.863);
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange:#41b883;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: #ffffff;
$blog:#ffffff8a;
$gray: gray;
$gray-dark: darkslategray;
$colors: ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray, "gray-dark": $gray-dark, ) !default;